*{
    padding: 0;
    margin: 0;
    color: white;
}
body{
    margin: 0;
    height: 100vh;
    background-color: #25274D ;
    background-size: cover;
}


#preloader{
background: #000 url(./images/preloader.gif) no-repeat center center;
background-size: 20%;
height: 100vh;
width: 100%;
position: fixed;
z-index: 1000;
}

.nav-color{
    background-color: #29648A ;
}

.outline{
    outline: 1px black border;
}

#profilepic{
    width: 500px;
}